{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">  
            <div class="col">
                <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    {{ form }}

                    <div id="btn-register">
                        <input type="submit" value="Registrar" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}